---
import SectionContainer from "../SectionContainer.astro"
import Coffee from "../icons/Coffee.astro"
import PhpIcon from "../icons/PhpIcon.astro"
import BootstrapIcon from "../icons/BootstrapIcon.astro"
import CssIcon from "../icons/CssIcon.astro"
import JavaScriptIcon from "../icons/JavaScriptIcon.astro"
import GitIcon from "../icons/GitIcon.astro"
import HtmlIcon from "../icons/HtmlIcon.astro"
const TAGS={
    PHP: {
        name: "PHP",
        class: "bg-[#2E2E2F] text-white",
        icon: PhpIcon,
    },
    BOOTSTRAP: {
        name: "Bootstrap 5",
        class: "bg-[#2E2E2F] text-white",
        icon: BootstrapIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#2E2E2F] text-white",
        icon: CssIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-[#2E2E2F] text-white",
        icon: JavaScriptIcon,
    },
    GIT: {
        name: "Git",
        class: "bg-[#2E2E2F] text-white",
        icon: GitIcon,
    },
    HTML: {
        name: "Html",
        class: "bg-[#2E2E2F] text-white",
        icon: HtmlIcon,
    }
}

const PROJECTS = [
    {
        title: 'AventuraGym',
        description: 'Pagina web de la empresa AventuraGym. Creación de la página web',
        caracteristica1: ' Dirigí y realicé el proyecto de AventuraGym utilizando herramientas como php, Bootstrap, y más. Aprovechando las nuevas características y mejoras de rendimiento que ofrece esta versión.',
        caracteristica2: ' Realicé la creación exhaustiva y actualización del código, optimizando su estructura y asegurando su compatibilidad con php.',
        caracteristica3: ' Implementé Bootstrap 5 para hacer que AventuraGym sea completamente responsive y dinámico. Esta modernización mejoró significativamente la experiencia del usuario, permitiendo un acceso óptimo desde dispositivos móviles y de escritorio.',
        image: '/projects/ibcontrata.webp',
        image2: '/projects/ibcontrata2.webp',
        image3: '/projects/ibcontrata3.webp',
        image4: '/projects/ibcontrata4.webp',
        tags: [TAGS.PHP, TAGS.BOOTSTRAP, TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.GIT]
    }
]
---
{
    PROJECTS.map(({ image, image2, image3, image4, title, description, caracteristica1, caracteristica2, caracteristica3, tags}) => (
        <article class="mt-10">
            <h3 class="text-4xl font-semibold text-blue-400 mb-6 text-center border-2 border-blue-300 rounded-full py-2 px-4">{title}</h3>
            <p class="text-lg text-pretty text-center mb-12 text-yellow-100 font-bold">{description}</p>
            <SectionContainer>
                <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-amber-600">
                    <Coffee />
                    Características del proyecto y Logros Destacados
                </h2>
                <ul class="flex flex-wrap gap-x-2 justify-center lg:justify-start mb-10">
                    {tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-3 rounded-full text-xs ${tag.class} py-3 px-3 mb-2 hover:bg-slate-400 hover:text-black`}>
                                <tag.icon class="size-4"/> {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <div class="text-wrap border-2 rounded-lg border-gray-300 p-6">
                    <li class="mt-5 mb-5"><b class="text-red-900">Creación del proyecto desde inicio:</b> {caracteristica1}</li>
                    <li class="mb-5"><b class="text-red-900">Actualización del Código:</b> {caracteristica2}</li>
                    <li class="mb-5"><b class="text-purple-900">Modernización con Bootstrap 5:</b> {caracteristica3}</li>
                </div>
            </SectionContainer>
            <div class="w-full mx-auto pb-24 flex flex-wrap gap-4 justify-center lg:justify-center">
                <img class="rounded shadow-2xl shadow-white/10 w-full lg:w-1/3 mb-10" src={image} alt={`Captura de pantalla del proyecto ${image}`}/>
                <img class="rounded shadow-2xl shadow-white/10 w-full lg:w-1/3 mb-10" src={image2} alt={`Captura de pantalla del proyecto ${image2}`}/>
                <img class="rounded shadow-2xl shadow-white/10 w-full lg:w-1/3 mb-10" src={image3} alt={`Captura de pantalla del proyecto ${image3}`}/>
                <img class="rounded shadow-2xl shadow-white/10 w-full lg:w-1/3 mb-10" src={image4} alt={`Captura de pantalla del proyecto ${image4}`}/>
            </div>
        </article>
    ))
}
