---
import SectionContainer from "../SectionContainer.astro"
import Coffee from "../icons/Coffee.astro"
import JavaIcon from "../icons/JavaIcon.astro"
import MysqIcon from "../icons/MysqIcon.astro"
const TAGS={
    JAVA: {
        name: "Java",
        class: "bg-[#2E2E2F] text-white",
        icon: JavaIcon,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-[#2E2E2F] text-white",
        icon: MysqIcon,
    },
}

const PROJECTS = [
    {
        title: 'Gimnasio GymBros',
        description: 'Aplicacion de Escritorio para un Gimnasio',
        caracteristica1: 'Registro y edición de clientes con detalles sobre la membresía adquirida y la duración.',
        caracteristica2: 'Administración de trabajadores del gimnasio, con información detallada sobre sus roles y responsabilidades.',
        caracteristica3: 'Gestión completa de los equipos e implementos del gimnasio, incluyendo registro de productos, existencias y ventas.',
        caracteristica4: 'Funcionalidad de venta de productos relacionados con el fitness, como pesas y suplementos.',
        image: '/projects/gymbros1.webp',
        image2: '/projects/gymbros2.webp',
        image3: '/projects/bookwize2.webp',
        tags: [TAGS.JAVA, TAGS.MYSQL]
    }
]
---
{
    PROJECTS.map(({ image, image2, image3, title, description, caracteristica1, caracteristica2, caracteristica3, caracteristica4
        ,tags}) =>(
        <article class="mt-10">
            <h3 class="text-4xl font-semibold text-blue-400 mb-6 text-center border-2 border-blue-300 rounded-full py-2 px-4">{title}</h3>
            <p class="text-lg text-pretty text-center mb-12 text-yellow-100 font-bold">{description}</p>
            <SectionContainer>
                <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-amber-600">
                    <Coffee />
                    Características del proyecto
                </h2>
                <ul class="flex gap-x-2 flex-row justify-center lg:justify-start mb-10">
                    {tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-3 rounded-full text-xs ${tag.class} py-3 px-3`}>
                                <tag.icon class="size-4"/> {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <div class="text-wrap border-2 rounded-lg border-gray-300 p-6">
                    <li class="mt-5 mb-5">{caracteristica1}</li>
                    <li class="mb-5">{caracteristica2}</li>
                    <li class="mb-5">{caracteristica3}</li>
                    <li class="mb-5">{caracteristica4}</li>
                </div>
            </SectionContainer>
            <div class="w-full mx-auto pb-24 flex flex-wrap gap-4 justify-center lg:justify-center">
                <img class="rounded shadow-2xl shadow-white/10 w-full lg:w-1/3 mb-10" src={image} alt={`Captura de pantalla del proyecto ${image}`}/>
                <img class="rounded shadow-2xl shadow-white/10 w-full lg:w-1/3 mb-10" src={image2} alt={`Captura de pantalla del proyecto ${image2}`}/>
            </div>
        </article>
    ))
}